.trash/
.DS_Store
*.tmp
.obsidian/
./labs/taller1/*.db
./bd-contenidos/Resumen BigER Original.md
./bd-contenidos/presentacion_er.qmd
./bd-contenidos/presentacion_er_borrador.qmd
./bd-contenidos/presentacion_er.html
./bd-contenidos/presentacion_er_simplificada_teoria.html
./bd-contenidos/presentacion_er_simplificada_teoria.qmd
./bd-contenidos/presentacion_er_files/
./bd-contenidos/presentacion_er_simplificada_teoria_files/
./bd-contenidos/labs/LAB09 - BigER Completo.md
